.main-header {
    max-width: 1062px;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
;
}
.menu {

}
.main-header .logo {
    width: 119px;
    margin: 0;
    /*height: 23px;*/
}
.logo a {
    display; block;
    position: relative;
    color: #000000;
    font-family: Inconsolata, "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.logo a:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 25px;
    right: 13px;
    top: 4px;
    background: #000000;

    transform: rotate(30deg);
}
.menu-list {
    display: flex;
    /*justify-content: space-between;*/
}
.menu-list .list-item a {
    color: #626262;
    font-family: "Playfair Display", "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding: 0 50px;
}
.list-item:last-child a {
    padding-right: 0;
}