html,
body {
    margin: 0;
    padding: 0;
    color: #626262;
    font-family: "Playfair Display", "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.wrapper {
    max-width: 902px;
    margin: 0 auto;
    padding: 0 80px;
    font-family: "Playfair Display", "Roboto", sans-serif;
    background: #ffffff;
}
.perfect-weekend {
    padding-top: 160px;
}
.weekend {
    /*margin-bottom: 130px;*/
}
.weekend-description {
    width: 880px;
}
.wrapper .my-diary,
.wrapper .answear {
    color: #b4ad9e;
    font-family: Ubuntu, "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
.pages-diary {
    padding-top: 160px;
}
.page-item figure {
    margin-bottom: 20px;
}
.page-item .my-diary {
    display: block;
    margin-bottom: 30px;
}
.list-pages {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.page-item {
    width: 423px;
    margin-bottom: 100px;
}
.page-item:nth-child(2n+1) {
    margin-right: 56px;
}




